KSYLIAN_FRONTEND_PORT=8088
KSYLIAN_BACKEND_PORT=8090
KSYLIAN_AGENT_URL=http://host.docker.internal:8765
KSYLIAN_AGENT_TOKEN=
KSYLIAN_SETTINGS_PATH=/data/settings.json
CURSEFORGE_API_KEY=
KSYLIAN_BUILD_VERSION=dev
KSYLIAN_BUILD_SHA=local
KSYLIAN_RELEASE_REPOSITORY=ProPandaMen/Ksylian
